<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<script src="/static/js/script.js"></script>

<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<head>
		<title><About US </title>
	</head>
	<header>
	<a href="index">Homepage</a>
	<a href="aboutus">About US</a>
	<a href="contactus">Contact US</a>
</header>
	<body>
		<h1>
			About US 
		</h1>

		<p>
Budding programmer, conceptualiser and Data Scientist.
An avid programmer with a keen eye to use software and implement structures to help solve problems which seem tough at first but can be easily dealt with.
</p>
		<footer>
	<a href="index">Homepage</a>
	<a href="aboutus">About US</a>
	<a href="contactus">Contact US</a>
</footer>
	</body>
</html>
	
