<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<script src="/static/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<head>
		<title>Home Page </title>
	</head>
	<body>
		<header>
	<a href="index">Homepage</a>
	<a href="about">About US</a>
	<a href="contact">Contact US</a>
</header>

<h1>Blogs </h1>
   
			<ul>
				<li><a href="blog/8-experiments-in-motivation">8 Experiments in Motivation</a></li>
				<li><a href="blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></li>
				<li><a href="blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></li>
				<li><a href="blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></li>
				<li><a href="blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></li>
			</ul>
<footer>
 
   <a href="index">Homepage</a>
	<a href="about">About US</a>
	<a href="contact">Contact US</a>
</footer>
	</body>
</html>
	
